div.colored {
    color: #000000; /* text color */
    background: #ffffff; /* background color */
}

div.colored a {
    color: #0000cc; /* link color */
}

h1 {
    font: bold 2.1em Arial, Arial, Sans-Serif;
    color: #cc0000; /* heading color */
}
html, body {
    margin: 0;
    padding: 0;
}
body{
    font: 130%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;
    color: #000000; /* main text color */
    background: #e8f8f8; /* main text background color */
    padding-bottom:20px;
}
a {
    color: #0000cc; /* link color */
    background: inherit;
    text-decoration: none;
}
h2 {
    font: bold 1.1em Arial, Arial, Sans-Serif;
    padding: 0;
    margin: 0;
}

#signup {
    text-align: center;
}



div.section {
    padding: 1em;
    margin-bottom: 1.2em;
    text-align: justify;
}

#left {
    float: right;
    width: 20%;
    margin: 0 0 10px 0;
}

#left .box {
    padding: 1em;
    margin: 0 0 1em 0;
    background : #FFF6BF;
}


#content {
font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
    margin: 0 auto;
    padding: 15px;
    background: #fff;
}

.doit {
    text-align: right;
}

/* Asheesh's additions */
.floatleft {
    font-size: 120%;
    background-color: #FFF6BF;
    float: left;
    width: 36%;
    margin: 2%;
    padding: 10px;
    border: 2px dashed white;
}

.floatleft h2 {
    text-align: center;
}
